@font-face {
	font-family: 'Dancing Script';
	src: url('Dancing Script');
}
body{
	font-family: 'Dancing Script';
	background-color: #02010a;	
} 
#cabecera{
	background-color: #5b7989;
	text-align: left;
	color: white;
	text-shadow: 2px 2px 2px #02010a;
	border-radius: 10px 10px 0px 0px;
	padding-bottom: 2%;
} 
.contenedor{
	width: 100%;
}
#menu{
	word-spacing: 1em;
	
}
#imagenes{
	text-align: center;
}
#images1{
	background-color: #82c3a6;
	width: 100%;
}
#images2{
	width: 50%;
	background-color: #d5c75f;
	float: left;
}
#images3{
	width: 50%;
	background-color: #d5c75f;
	float: left;
}
#img11{
	width: 80%;
	margin-top: 2%;
	margin-bottom: 2%;
}
#img22{
	width: 80%;
	margin-top: 5%;
	margin-bottom: 5%;
	border: 1px solid black;
}
#img33{
	width: 80%;
	margin-top: 5%;
	margin-bottom: 5%;
	border: 1px solid black;
}


header{
	padding-left: 2%;
	padding-top: 1%;
}
nav div{
	padding-left: 2%;
}
@media (min-width: 900px){/*pc*/
	.contenedor{
		width: 900px;
		margin-left: auto;
		margin-right: auto;
	}
	#cabecera, #menu{
		width: 100%;
	}
}

}
@media (max-width: 900px){/*movil*/
	#cabecera, #menu{
		width: 100%;
		text-align: center;
	}

	#images2{
		width: 100%;
		background-color: #d5c75f;
}
	#images3{
		width: 100%;
		background-color: #d5c75f;
	}
}
