@font-face { 
	font-family: 'Dancing Script';
	src: url('Dancing Script');
}
body{
	font-family: 'Dancing Script';
	background-color: #02010a;	
} 
img{
	filter: drop-shadow(2px 2px 0px #02010a);
}
@-webkit-keyframes header_anima {
	0% {
		margin-top: 150%;		
	}
	60% {
		margin-top: -5%;	
	}
	100% {
		margin-top: 0%;	
	}
}
header{
	animation-name: header_anima;
	animation-duration: 1s;
}
/*enlaces*/
nav a{
	color: white;
}
a:visited{
	text-decoration: none;
}
a[href^='ind']
{
	text-decoration: none;
}
nav{
	font-weight: bold;
}
section div a{
	color: black;
	font-weight: bold;
	font-size: 18px;
}
#cabecera{
	background-color: #5b7989;
	color: white;
	text-shadow: 2px 2px 2px #02010a;
	border-radius: 10px 10px 0px 0px;
} 
.contenedor{
	width: 100%;
}

#imagenes{
	text-align: center;
	background-color: #d5c75f;
	border: 1px solid;
}
#images1{
	background-color: #82c3a6;
	width: 100%;
}
#images2{
	
	float: left;
	padding-top: 2%;
	padding-bottom: 2%;
}
#images3{
	
	float: left;
	padding-top: 2%;
	padding-bottom: 2%;
}
#img11{
	width: 80%;
	margin-top: 2%;
	margin-bottom: 2%;
}
#img22{
	width: 80%;
	transition-property: transform, filter, border;
	transition-duration: 2s;
}
#img22:hover{
	transform: rotate(10deg);
	filter: drop-shadow(5px 5px 5px #82c3a6);
	border: 2px solid black;
}
#img33{
	width: 80%;
	border: 1px solid black;
	transition-property: transform, filter, border;
	transition-duration: 1s;
}
#img33:hover{
	transform: translate(20px, -5px);
	filter: drop-shadow(5px 5px 5px #82c3a6);
	border: 2px solid black;
}

.pie
{
	background-color: #C6d5c5;
	border-radius: 0px 0px 10px 10px;
	line-height: 1;
}
.pie div img{
	filter: inherit;
}

#redes1{
	width: 15px;
}

@media (min-width: 900px){/*pc*/
	.contenedor{
		width: 900px;
		margin-left: auto;
		margin-right: auto;
	}
	#cabecera{
		width: 100%;
	}
	#imagenes{
		display: flex;
		flex-flow: row wrap;
	}

	#images2, #images3{
		width: 50%;
	}
	
	li{
		display: inline;
		margin: 0px 15px;
	  
	}
	header{
		display: flex;
  		justify-content: space-between;
  		align-items: center;
  		padding-left: 2%;
	}
	.pie{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		padding: 0.5% 2%;

	}
	.pie div{
		width: 24%;
	}
	
}

@media (max-width: 900px){/*movil*/
	#cabecera{
		width: 100%;
		text-align: center;
	}
	#imagenes{
		display: flex;
		flex-direction: column;
	}

	li{
	  display: inline;
	  margin: 0px 15px;
	  
	}
	ul{
		padding: 0%;
	}
	header{
		padding-top: 1%;
		padding-bottom: 2%
	}
	.pie{
		display: flex;
		flex-direction: column;
		padding-left: 10%;
		padding-top: 2%;
		padding-bottom: 6%;

	}
	
}
