@font-face { 
	font-family: 'Dancing Script';
	src: url('Dancing Script');
}
body{
	font-family: 'Dancing Script';
	background-color: #02010a;	
}
@-webkit-keyframes header_anima {
	0% {
		margin-top: 150%;		
	}
	60% {
		margin-top: -5%;	
	}
	100% {
		margin-top: 0%;	
	}
}
header{
	animation-name: header_anima;
	animation-duration: 1s;
}
/*enlaces*/
a{
	color: white;
}
a:visited{
	text-decoration: none;
}
a[href^='Ret']
{
	text-decoration: none;
}
nav{
	font-weight: bold;
}
#cabecera{
	background-color: #5b7989;
	color: white;
	text-shadow: 2px 2px 2px #02010a;
	border-radius: 10px 10px 0px 0px;
} 
.contenido{
	width: 100%;
}
/* imagenes*/
#galeria{
	background-color: #d5c75f;
}
#img1{
	filter: blur(10px) drop-shadow(2px 2px 0px #02010a);
}
#img_par{
	filter: grayscale(100%) drop-shadow(2px 2px 0px #02010a);	
}
#img3{
	filter: sepia(90%) drop-shadow(2px 2px 0px #02010a);
}
#img5{
	filter: drop-shadow(2px 2px 0px #02010a);
}
.pie
{
	background-color: #C6d5c5;
	border-radius: 0px 0px 10px 10px;
	line-height: 1;
}
.pie div img{
	filter: inherit;
}

#redes1{
	width: 15px;
}

@media (min-width: 900px){/*pc*/
	.contenedor{
		width: 900px;
		margin-left: auto;
		margin-right: auto;
	}
	#cabecera{
		width: 100%;
	}
	
	
	li{
		display: inline;
		margin: 0px 15px;
	  
	}
	header{
		display: flex;
  		justify-content: space-between;
  		align-items: center;
  		padding-left: 2%;
	}
	#galeria{
		display: flex;
		flex-flow: row wrap;
		
	}
	#image{
		width: 29%;
		padding: 2%;
		text-align: center;
	}
	#image img{
		width: 90%;
	}
	.pie{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		padding: 0.5% 2%;

	}
	.pie div{
		width: 24%;
	}
	
}

@media (max-width: 900px){/*movil*/
	#cabecera{
		width: 100%;
		text-align: center;
	}
	

	li{
	  display: inline;
	  margin: 0px 15px;
	  
	}
	ul{
		padding: 0%;
	}
	header{
		padding-top: 1%;
		padding-bottom: 2%
	}
	#galeria{
		display: flex;
		flex-direction: column;
		padding-bottom: 8%;
		padding-top: 8%;
	}
	#image{
		width: 96%;
		padding: 2%;
		text-align: center;
	}
	#image img{
		width: 80%;
	}
	.pie{
		display: flex;
		flex-direction: column;
		padding-left: 10%;
		padding-top: 2%;
		padding-bottom: 6%;

	}
	
}
